#cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background-color: #ec1717;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    filter: blur(4px);
    z-index: 9999;
    transition: transform 0.05s ease-out;
  }
  body {
    cursor: none !important;
  }
  